<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="vue.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div id="app-2">
            <span v-bind:title="message">
                Hello, world
            </span>
        </div>
        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>
        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Messgae</button>
        </div>

        <div id="app-6">
            <p> {{ message }} </p>
            <input v-model="message">
        </div>

        <div id="app-7">
            <ol>
                <todo-item
                    v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id"
                ></todo-item>
            </ol>
        </div>
        <script type="text/javascript">
            Vue.component('todo-item', {
                props: ['todo'],
                template: '<li>{{ todo.text }}</li>'
            })

            var app7= new Vue({
                el: '#app-7',
                data: {
                    groceryList: [
                        { id: 0, text:'Legume'},
                        { id: 1, text:'Fromage'},
                        { id: 2, text:'Whatever'}
                    ]
                }
            })
            var app2 = new Vue({
                el: "#app-2",
                data: {
                    message: "Page Loading " + new Date().toLocaleString()
                }
            })

            var app4 = new Vue({
                el: "#app-4",
                data: {
                    todos: [
                        {text: 'Learning Javascript'},
                        {text: 'Learning Vue'},
                        {text: 'Do someting great'}
                    ]
                }
            })

            var app5 = new Vue({
                el: '#app-5',
                data: {
                    message: 'Hello Vue.js!'
                },
                methods: {
                    reverseMessage: function() {
                        this.message = this.message.split('').reverse().join('');
                    }
                } 
            })

            var app6 = new Vue({
                el: "#app-6",
                data: {
                    message: 'Hello Vue!'
                }
            })
        </script>
    </body>
    <style type="text/css">
    </style>
</html>